{% extends 'base.html' %}

{% block title %} Actualizar {% endblock %}

{% block header %} {% endblock %}

{% block body %}
    <a href="{{ url_for('index') }}" class="btn btn-primary">Voltar</a>
    <div class="card-body">
        <form action="{{ url_for('process_update') }}" method="POST">
            <div class="form-group">
                <input type="hidden" name="id" value="{{ data.id }}">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Nome</div>
                    </div>
                    <input type="text" id="name" class="form-control" name="nome" value="{{ data.nome }}">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Contacto</div>
                    </div>
                    <input type="text" id="contacto" class="form-control" name="contacto" value="{{ data.contacto }}">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Email</div>
                    </div>
                    <input type="email" id="email" class="form-control" name="email" value="{{ data.email }}">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Endereço</div>
                    </div>
                    <textarea name="endereco" id="endereco" class="form-control" required="required" autocomplete="off">{{ data.endereco }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-sm" name="submit">Actualizar</button>
                <button type="reset" class="btn btn-danger btn-sm">Cancelar</button>
            </div>
        </form>
    </div>
{% endblock %}